body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(35, 35, 35);
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/porto1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 260px;
}

header h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 1.5;
    margin: 0;
}

header h2{
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;

}

header h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

header a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: white;
    text-decoration: none;
    color: rgb(41, 25, 5);
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px;
}

footer {
    color: white;
    background-image: linear-gradient(rgba(80, 59, 59, 0.6), rgba(80,
                59, 59, 0.6)), url("../images/porto2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

footer h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.9;
    
}

footer ul{
    padding: 0;
}
footer li{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a{
    color: white;
    opacity: 0.7;
}

@media (max-width: 960px){
    header{
        padding: 60px 0;
    }

    header h1{
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }
    header h3 {
        font-size: 12px;
    }

    header a{
        font-size: 10px;
        padding: 10px 16px;
        margin-top: 16px;
    }
}