

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(35, 35, 35);

}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-gap: 65px;
}

.grid-2-columns{
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns-last-long{
    grid-template-columns: 1fr 1fr 2fr;
    padding: 10px;
}

.grid-3-columns{
    grid-template-columns: 1fr 1fr 1fr;
}



.card{
    background-color: white;
    margin-top: 30px;
    padding: 30px;
    border-radius: 5px;
} 

.card-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-header img:hover {
    transform: scale(0.99);
    opacity: 0.8;
}

.card-header.grid{
    grid-gap: 0;

}

.card-body{
    padding-top: 30px;        
}

.card-footer{
    display: block;
}

.embed{
    width: 100%;
    aspect-ratio: 1/1;
}


.btn{
    display: block;
    color: white;
    text-transform: uppercase;
    background-color: rgba(80, 59, 59);
    border-radius: 5px;
}


.btn-header:hover{
    color: white;
    background-color:rgba(80, 59, 59);
    transition: all 200ms ease;
}



.text-center{
    text-align: center;
}


img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    
}

section{
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}

section.secondary {
    background: rgb(228, 228, 237)
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/porto1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 260px;
}

header h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 1.5;
    margin: 0;
}

header h2{
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;

}

header h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

header a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: white;
    text-decoration: none;
    color: rgb(41, 25, 5);
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px;
    border-radius: 5px;
}

main{
    background-color: white;
}

main h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
    color: #272044;
    opacity: 0.3;
    text-transform: uppercase;
    }


main h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
}

main h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #272044;
    margin: 0;
}

main h5 {
    font-weight: 700;
    font-size: 14px;
    margin: 30px 0 0 0;
    line-height: 1;
}

main p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    opacity: 0.7;
    text-align: justify;

}

main a{
    text-decoration: none;
    color: black;
}

main img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

main p :hover{
    transition: all 200ms ease;
    text-decoration:underline;
}
main .btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: rgb(80, 59, 59);
    text-decoration: none;
    color: white;
    padding: 16px 32px;
    display: block;
    margin-top: 32px;
}

main .btn:hover{
    background-color: white;
    color: rgb(80, 59, 59);
    border: 1px solid rgb(80, 59, 59);
    transition: all 200ms ease;
}
footer {
    color: white;
    background-image: linear-gradient(rgba(80, 59, 59, 0.9), rgba(80,
                59, 59, 0.9)), url("../images/porto2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px;
}

footer h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.9;
    text-align: justify;
}

footer ul{
    padding: 0;
}
footer li{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a{
    color: white;
    opacity: 0.7;
}

@media (max-width: 960px){
    header{
        padding: 60px 0;
    }

    header h1{
        font-size: 40px;
    }

    header h2 {
        font-size: 15px;
    }
    header h3 {
        font-size: 15px;
    }

    header a{
        font-size: 10px;
        padding: 10px 16px;
        margin-top: 16px;
    }
    
    .grid{
        grid-template-columns: 1fr;
        grid-gap: 32px
    }
    section{
        padding: 30px;
    }

    main h2{
        font-size: 15px;
    }
    main h3 {
        font-size: 30px;
    }

    main p {font-size: 15px;}
  
    
    footer h3{
        font-size: 12px;
    }

    footer p, a{
    font-size: 12px;
    }

    .card-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-header iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .embed{
        aspect-ratio: 16/9;
    }
}

